.list{
	border: 0.01vw solid #dddcdc;
	margin: 0 1vw;
	height: 38vw;
	position: relative;
	.list_mid{
		border-top: 0.01vw solid #dddcdc;
		border-bottom: 0.01vw solid #dddcdc;
	}
	.list_top{
		margin-top: 3vw;
	}
	.textBlock{
		position: absolute;
		top: 1.5vw;
		left: 0.6vw;
		z-index: 1;
		color: #fff;
		background-color: rgba(62,78,97,.64);
		border-radius: 0.15vw;
		padding: 0 2vw;
		height: 2vw;
		line-height: 2vw;
		text-align: center;
		text-transform: uppercase;
		font-size: 0.8vw;
		letter-spacing: 0.1vw;
		&:hover{
			background-color: rgba(62,78,97,.7);
		}
	}
	div{
		height: 30%;
		display: flex;
		flex-flow: row nowrap;
		align-items: center;
		margin-right: 1vw;
		margin-left: 1vw;
		cursor: pointer;
		img{
			width: 11vw;
			float: left;
			margin-left: 0.6vw;
		}
		h1{
			margin-left: 2vw;
			margin-top: 5vw;
			font-size: 1.1vw;
		}
	}
}