.carousel{
	position: relative;
	height: 38vw;
	overflow: hidden;
	cursor: pointer;
	li{
		position: absolute;
		list-style-type: none;
		width: 100%;
		img{
		width: 100%;
		}
	}
	.next, .prev{
		position: absolute;
		top: 45%;
		width: 3vw;
		height: 3vw;
		border-radius: 50%;
		background: rgba(0,0,0,.3);
		text-align: center;
		line-height: 3vw;
		&:hover{
			 background: rgba(0,0,0,.5);
		}
		img{
			width: 3vw;
			height: 3vw;
		}
	}
	.prev{
		left: 1vw;
	}
	.next{
		right: 1vw;
		img{
			transform: scaleX(-1);
		}
	}
	.textBlock{
		position: absolute;
		top: 1.5vw;
		left: 1.5vw;
		z-index: 1;
		color: #fff;
		background-color: rgba(142, 140, 140, 0.7);
		border-radius: 0.3vw;
		padding: 0 2vw;
		height: 2vw;
		line-height: 2vw;
		text-align: center;
		text-transform: uppercase;
		font-size: 0.8vw;
		&:hover{
			background-color: rgba(142, 140, 140, 0.8);
		}
	}
	.textSlide{
		position: absolute;
		bottom: 1.5vw;
		left: 1.5vw;
		color: #fff;
		font-size: 1.5vw;
		text-transform: uppercase;
		text-shadow: 0.1vw 0.1vw 0.2vw black;
		font-weight: bold;
	}
}
	.carousel{
		.one{
			left: 0;
		}
		.two{
			left: 100%;
		}
		.three{
			left: 100*2%;
		}
		.four{
			left: 100*3%;
		}
		.five{
			left: 100*4%;
		}
		.one_next{
		animation: NextGone 0.5s;
		left: 100%;
		}
		.two_next{
			animation: NextCome 0.5s;
			left: 0;
		}
		@keyframes NextGone {
			from {left: 0;}
			to {left: -100%;}
		}
		@keyframes NextCome {
			from {left: 100%;}
			to {left: 0;}
		}
		.one_prev{
			animation: PrevGone 0.5s;
			left: 100%;
		}
		.two_prev{
			animation: PrevCome 0.5s;
			left: 0;
		}
		@keyframes PrevGone {
			from {left: 0;}
			to {left: 100%;}
		}
		@keyframes PrevCome {
			from {left: -100%;}
			to {left: 0;}
		}
	}	

	.min{
			width: 35vw;
			height: 38vw;
		img{
			height: 38vw;
		}
		}

	.max{
			width: 49vw;
			height: 38vw;
		img{
			height: 38vw;
		}
	}

	.short{
		width: 100%;
		height: 25vw;
		img{
			height: 25vw;
		}
		.textSlide{
			width: 22vw;
			right: 5vw;
			top: 38%;
			left: auto;
			font-size: 1.1vw!important;
			line-height: 2vw;
			text-shadow: none;
			h1{
				font-size: 1.5vw;
			}
			p{
				text-transform: none;
				font-weight: normal;
			}
		}
		.polo{
			color: black;
		}
	}

	.news, .brand{
			width: 33%;
			height: 38vw;
		img{
			height: 38vw;
		}
		.textSlide{
			width: 16.8vw;
	}
		}

	.brand{
		border: 0.01vw solid #dddcdc;
		li{
			text-align: center;
			img{
				width: 60% !important;
			}
		}
	}