.basket{
	font-size: 1.1vw;
	position: fixed;
	width: 30vw;
	right: 10.2vw;
	top: 5vw;
	border: 0.01vw solid #dddcdc;
	border-top: 0;
	background: #fff;
	box-shadow: 0 10px 30px rgba(0,0,0,.3);
	z-index: 10000;
	.basket_list{
		max-height: 25vw;
		overflow: auto;
	}
	.basket_item{
		border: 0.0011vw solid #dddcdc;
		border-top: 0;
		position: relative;
		height: 7.5vw;
		.ex{
			position: absolute;
			right: 0.5vw;
			top:  0.3vw;
			cursor: pointer;
		.left_ex{
			transform: rotate(45deg);
			margin-top: 0.6vw;
		}
		.right_ex{
			transform: rotate(-45deg);
		}
		.left_ex, .right_ex{
			width: 0.7vw;
			height: 0.01vw;
			background: black;
		}
		}
		.item_brand{
			position: absolute;
			color: rgba(0,0,0,.4);
			left: 10.5vw;
			top: 0.3vw;
			font-size: 1.1vw;
			margin-right: 3vw;
		}
		.item_quantity{
			color: rgba(0,0,0,.4);
			position: absolute;
			left: 10.5vw;
			bottom: 0.3vw;
			span{
				cursor: pointer;
			}
		}
		.item_price{
			position: absolute;
			bottom: 0.3vw;
			right: 0.5vw;
			margin: 0;
		}
		img{
			width: 10.2vw;
			position: absolute;
    		margin: auto;
    		left: 0;
    		top: 0;
    		bottom: 0;
		}
	}
}
.total{
	height: 5vw;
	.summa{
	margin-top: 1vw;
	text-align: right;
	float: right;
	margin-right: 0.5vw;
	width: 8vw;
	}
	button{
		background: black;
		color: #fff;
		border: 0;
		height: 2.5vw;
		padding: 0 2vw;
		font-size: 1vw;
		margin-left: 0.5vw;
		margin-top: 1.2vw;
		cursor: pointer;
		&:hover{
			opacity: 0.8;
		}
	}
}
.totalNone{
	height: 3vw;
	line-height: 3vw;
	text-align: center;
}
.display0{
	display: none;
}