header{
	width: 100%;
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	height: 5vw;
	background: #fff;
	border-bottom: 0.01vw solid #dddcdc;
	padding: 0 7vw;
	position: fixed;
	z-index: 10;
	top: 0;
	.logo{
		img{
		height: 4vw;	
		}
	}
	nav{
		margin-left: 1.7vw;
		word-spacing: 1.5vw;
		text-transform: uppercase;
		font-size: 0.8vw;
		letter-spacing: 0.1vw;
		.sneakers{
			text-decoration: none;
		}
		li{
			display: inline-block;
			margin-right: 1vw;
			text-decoration: line-through;
			a{
				text-decoration: none;
				color: #646464;
				padding: 0 0.7vw 1.9vw;
				border-bottom: 0.25vw solid rgba(0,0,0,.0);
				transition: border 0.2s;
			}
			&:hover div{
						visibility: visible;
						transition: visibility 0s 0.5s;
			}
			&:hover a{
						border-bottom: 0.25vw solid rgba(0,0,0,1);
			}
			div{
				width: 100%;
				display: flex;
				padding: 1vw 7vw;
				background: #fff;
				word-spacing: normal;
				position: absolute;
				top: 5vw;
				left: 0;
				visibility: hidden;
				transition: visibility 0s;
					li{
						text-transform: none;
						width: 15vw;
						line-height: 2.2vw;
						border-radius: 0.3vw;
						padding-left: 0.1vw;
						display: block;
						margin-right: 2.5vw;
						letter-spacing: 0;
						font-size: 0.9vw;
						a{
							border: 0!important;
							color: black;
							&:hover{
								border: 0!important;
							}
						}
						&:hover{
							background: rgba(62, 78, 97, 0.2);
							cursor: pointer;
						}
					}
					span{
						font-weight: bold;
					}
				}
		}
	}
	.icon{
		position: absolute;
		right: 7vw;
		img{
			height: 3.3vw;
			border-radius: 0.3vw;
			&:hover{
				background: rgba(62, 78, 97, 0.1);
				cursor: pointer;
			}
		}
	}
}

