.sort{
	padding: 8vw 7vw 0;
	text-align: center;
	h1{
		margin-bottom: 2vw;
		font-size: 2vw;
	}
	.sort_button{
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-between;
		border-top: 0.01vw solid #dddcdc;
		border-bottom: 0.01vw solid #dddcdc;
		font-weight: bold;
		padding: 1vw 0;
		font-size: 1vw;
		span{
			margin-right: 1vw;
		}
		button{
			border: 0;
			border-radius: 0.3vw;
			border-right: 1vw;
			height: 2vw;
			outline: none;
			cursor: pointer;
			margin-right: 0.5vw;
			font-size: 1vw;
			padding: 0 0.5vw;
			&:hover{
				background: rgba(0,0,0,.1);
			}
		}
		.fcs{
			background: #5e6364;
			color: #fff;
			&:hover{
				background: #5e6364;
			}
		}
		.sort_button_right{
			span{
				margin: 0 0.5vw 0 0;
			}
			button{
				width: auto;
				padding: 0 0.5vw;
				margin: 0 0 0 0.5vw;
			}
		}
	}
}